<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Service",
    "serviceType": "SR22 Insurance Services",
    "provider": {
      "@type": "Organization",
      "name": "{{ client.name }}",
      "url": "{{ client.domain }}",
      "telephone": "{{ client.phoneFormatted }}"
    },
    "areaServed": {
      "@type": "City",
      "name": [
        "Cincinnati",
        "Columbus",
        "Cleveland",
        "Akron",
        "Dayton",
        "Toledo"
      ],
      "containedInPlace": {
        "@type": "State",
        "name": "Ohio"
      }
    },
    "hasOfferCatalog": {
      "@type": "OfferCatalog",
      "name": "Cheap SR22 Insurance Ohio",
      "itemListElement": [
        {
          "@type": "OfferCatalog",
          "name": "Standard Ohio SR22 Insurance",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Ohio SR22 Insurance Filing"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Ohio SR22 Insurance Compliance"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Ohio SR22 Insurance Requirements"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Ohio SR22 Insurance Same-Day Filing"
              }
            }
          ]
        },
        {
          "@type": "OfferCatalog",
          "name": "Non owner SR22 Insurance Ohio",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Non owner SR22 insurance filing"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "non owner SR22 insurance compliance"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "non owner SR22 insurance same-day filing"
              }
            }
          ]
        },
        {
          "@type": "OfferCatalog",
          "name": "Ohio SR22 Insurance Bond",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Ohio SR22 insurance bond filing"
              }
            }
          ]
        },
        {
          "@type": "OfferCatalog",
          "name": "Out-of-state SR22 Insurance Ohio",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Out-of-state SR22 insurance filing"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Out-of-state SR22 insurance compliance"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Out-of-state SR22 insurance same-day filing"
              }
            }
          ]
        },
        {
          "@type": "OfferCatalog",
          "name": "No vehicle SR22 insurance Ohio",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "No vehicle SR22 insurance filing"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "No vehicle SR22 insurance compliance"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "No vehicle SR22 insurance instant filing"
              }
            }
          ]
        }
      ]
    }
  }
</script>
