{% extends "layouts/base.html" %}

{% block head %}
 <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link rel="stylesheet" href="/assets/css/projects.css">

        <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css" />
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    {% include "components/service-schema.html" %}
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <h1 class="cs-int-title">{{ h1Title }}</h1>
            
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/residential" class="cs-link">Residential</a>
                <a href="/residential/{{ url | slugify }}/" class="cs-link cs-active">{{ service }}</a>
            </div>
            <br>
            <p class="cs-text-banner">
                    {{ description }}
                </p>
                <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
        </div>
        <!--Background Image-->

        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="{{ service }}" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

   <!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-892">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ready when you need us</span>
            <h2 class="cs-title">Your 3 Steps to Rapid {{ service }}</h2>
            <p class="cs-text">
               Finding a trustworthy {{ service }} contractor shouldn't be complicated. Here's how we make it easy:
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs1.svg" loading="lazy" decoding="async" alt="{{ service }}" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Step 1: Call Our {{ service }} team & Enter Your ZIP Code</h3>
                    <p class="cs-item-text">
                       Dial our number and provide your local ZIP code. We'll instantly connect you with a certified {{ service }} specialist who serves your neighborhood—no waiting, no hassle.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs2.svg" loading="lazy" decoding="async" alt="{{ service }} company" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Step 2: Speak Directly to a {{ service }} Specialist</h3>
                    <p class="cs-item-text">
                        You'll speak directly with a qualified {{ service }} professional who's ready to discuss your project. Whether you need a roof inspection, repair estimate, or replacement quote, they'll answer your questions right away.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs3.svg" loading="lazy" decoding="async" alt="affordable {{ service }}" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Step 3: Schedule Your {{ service }} service</h3>
                    <p class="cs-item-text">
                        Your <a href="/about">Our {{ service }} team </a> will visit your property to assess the work and get started. Our quick-response system helps you address problems before they become expensive emergencies.
                    </p>
                </div>
            </li>
        </ul>
        <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
        <!--Floating Arrow Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Forange-arrow.svg" alt="{{ service }} contractor" loading="lazy" decoding="async" aria-hidden="true">
    </div>
</section> 

        <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="RPsbs-313">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 482, height: 536 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 802, height: 892 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 1044, height: 1162 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" alt="Residential {{ service }}" width="522" height="581" loading="lazy" decoding="async">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 366, height: 354 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 366, height: 354 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 366, height: 354 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 600, height: 578 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 600, height: 578 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 600, height: 578 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 780, height: 752 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 780, height: 752 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 780, height: 752 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 780, height: 752 }) | jpeg %}" alt="{{ service }} team" width="390" height="376" loading="lazy" decoding="async">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">
                    {{ h21 }}
                </h2>
                <div class="cs-text">
                    {{ p1 | markdown | safe }}
                </div>
                <div class="cs-quote cs-quote-text">
                    {{ surroundingAreas | markdown | safe }}
                </div>
                <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RPsbsr-313">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 482, height: 536 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 802, height: 892 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 1044, height: 1162 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/roof-repair-contractor.jpg" | resize({ width: 1044, height: 1162 }) | jpeg %}" alt="{{ service }}" width="522" height="581" loading="lazy" decoding="async">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 366, height: 354 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 366, height: 354 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 366, height: 354 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 600, height: 578 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 600, height: 578 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 600, height: 578 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 780, height: 752 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 780, height: 752 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 780, height: 752 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/roof-repair-services.png" | resize({ width: 780, height: 752 }) | jpeg %}" alt="best {{ service }}" width="390" height="376" loading="lazy" decoding="async">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">
                    {{ h22 }}
                </h2>
                <div class="cs-text">
                    {{ p2 | markdown | safe }}
                    </div>
                <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
            </div>
        </div>
    </section>

            <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="RPsbs-313">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 482, height: 536 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 482, height: 536 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 802, height: 892 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 802, height: 892 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 1044, height: 1162 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 1044, height: 1162 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/best-roof-repair-services.png" | resize({ width: 1044, height: 1162 }) | jpeg %}" alt="top {{ service }}" width="522" height="581" loading="lazy" decoding="async">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 366, height: 354 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 366, height: 354 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 366, height: 354 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 600, height: 578 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 600, height: 578 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 600, height: 578 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 780, height: 752 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 780, height: 752 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 780, height: 752 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/residential-roofing-services.jpg" | resize({ width: 780, height: 752 }) | jpeg %}" alt="trusted {{ service }}" width="390" height="376" loading="lazy" decoding="async">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">
                    {{ h23 }}
                </h2>
                <div class="cs-text">
                    {{ p3 | markdown | safe }}
                </div>
                <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
            </div>
        </div>
    </section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Get in touch with us for {{ service }} today.</h2>
            <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">Call Now: {{ client.phoneFormatted }}</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="{{ service }} details" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-343">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Complete Roofing Services Nationwide</h2>
            <p class="cs-text">
                Professional <a href="/residential">roofing services</a> should cover more than just repairs when disaster strikes. Whether you're a homeowner protecting your home's exterior or managing a property that needs reliable maintenance, comprehensive roofing solutions matter. RoofingServe connects you with roofing specialists <a href="/areas">nationwide</a> who handle everything from proactive inspections that catch problems early to full-scale replacements that transform aging roofs into long-term exterior protection. Our network includes specialists experienced in both residential and commercial roofing projects, ensuring you get the right expertise for your specific property type.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/best-roof-repair-services.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/best-roof-repair-services.png">
                        <img loading="lazy" decoding="async" src="/assets/images/best-roof-repair-services.png" alt="{{ service }} information" width="413" height="240" aria-hidden="true">
                    </picture>
                    <a href="/residential/roof-repairs" class="cs-link"><h3 class="cs-h3">Roof Repairs</h3></a>
                    <p class="cs-item-text">
                        Call us today and schedule your repair service!
                    </p>
                
            </li>
            <li class="cs-item">
                
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/best-roof-replacement-services.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/best-roof-replacement-services.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/best-roof-replacement-services.jpg" alt="information on {{ service }}" width="413" height="240" aria-hidden="true">
                    </picture>
                    <a href="/residential/roof-replacements" class="cs-link"><h3 class="cs-h3">Roof Replacements</h3></a>
                    <p class="cs-item-text">
                        Call us today to tell us what material you want for your new roof!
                    </p>
            </li>
            <li class="cs-item">
                
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/metal-roofing-services.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/metal-roofing-services.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/metal-roofing-services.jpg" alt="metal roof service" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Metal Roofing</h3>
                    <p class="cs-item-text">
                        Call now and talk to an expert about your metal roof needs.
                    </p>
            </li>
        </ul>
        <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">Call Us: {{ client.phoneFormatted }}</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  More Content                -->
<!-- ============================================ -->

<section id="services-1666">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/new-roof-installation-services.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/new-roof-installation-services.png">
                <img loading="lazy" decoding="async" src="/assets/images/new-roof-installation-services.png" alt="more information for {{ service }}" width="605" height="690">
            </picture>
            <!--SVG Graphic-->
            <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-swirl.svg" alt="comprehensive {{ service }}" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
        </div>
        <div class="cs-content">
            <h2 class="cs-title"> {{ h24 }}</h2>
            <div class="cs-text">
                {{ p4 | markdown | safe }}
            </div>
            <!-- <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/computer-gold.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            don't know yet
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/calendar-gold.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Hybrid e-Training
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/map-pin-gold.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Live Instructor e-Training
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/map-pin-gold-2.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Onsite Classroom Training
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente placeat enim molestias quam, illum ullam ipsa repellat, necessitatibus quis cumque voluptatum nesciunt. Quia possimus est in recusandae saepe nostrum.
                    </p>
                </li>
            </ul> -->
            <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">Call Us: {{ client.phoneFormatted }}</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--               service Content            -->
<!-- ============================================ -->

<section id="services-2051">
    <div class="cs-container">
        <div class="cs-wrapper">
            <div class="cs-content">
                <h2 class="cs-title">{{ h25 }}</h2>
                <div class="cs-text">
                    {{ p5 | markdown | safe }}
                </div>
                
                <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">Call Us: {{ client.phoneFormatted }}</a>
            </div>
            <div class="cs-picture-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/roofing-contractor-near-me.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/roofing-contractor-near-me.png">
                    <img loading="lazy" decoding="async" src="/assets/images/roofing-contractor-near-me.png" alt="{{ service }} pros" width="328" height="520">
                </picture>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <h3 class="cs-h3">What does a roofing contractor do?</h3>
                    <p class="cs-item-text">Installs, repairs, and maintains residential and commercial roofing systems to protect properties from weather damage and extend roof lifespan. They diagnose hidden problems, recommend appropriate materials, ensure code compliance, and implement safety protocols—delivering expertise that prevents costly mistakes and premature roof failure.
                    </p>
                    <a href="/blog/what-does-a-roofing-contractor-do" class="cs-link">
                        Learn More
                    </a>
                </div>
                <picture class="cs-item-picture">
                    <img loading="lazy" decoding="async"
                    src="/assets/images/residential-roofing-services.png" alt="what does a {{ service }} contractor do"
                    width="181" height="102">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <h3 class="cs-h3">Benefits of Roofing Upgrades</h3>
                    <p class="cs-item-text">Upgrading your roof delivers two primary benefits: reduced energy consumption through better insulation and ventilation, and lower long-term maintenance costs by eliminating recurring repairs. However, not every roof needs upgrading—age, condition, and cost comparison determine whether replacement makes financial sense. Understanding these factors helps you make the right decision for your home and budget.
                    </p>
                    <a href="/blog/residential-roof-upgrade-benefits" class="cs-link">
                        Learn More
                    </a>
                </div>
                <picture class="cs-item-picture">
                    <img loading="lazy" decoding="async"
                    src="/assets/images/residential-roof-upgrade-benefits.jpg" alt="benefits of {{ service }}" width="181"
                    height="102">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1466">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/roofer-near-me.jpg">
            
            <source media="(min-width: 601px)" srcset="/assets/images/roofer-near-me.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/roofer-near-me.jpg" alt="{{ service }}" width="522" height="609" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">{{ h26 }}</h2>
            <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <h3 class="cs-button-text">
                            {{ faq1 }}
                        </h3>
                    </button>
                    <div class="cs-item-p">
                        {{ a1 | markdown | safe }}
                    </div>
                </li>
                <li class="cs-faq-item ">
                    <button class="cs-button">
                        <h3 class="cs-button-text">
                            {{ faq2 }}
                        </h3>
                    </button>
                    <div class="cs-item-p">
                        {{ a2 | markdown | safe }}
                    </div>
                </li>
                <li class="cs-faq-item ">
                    <button class="cs-button">
                        <h3 class="cs-button-text">
                            {{ faq3 }}
                        </h3>
                    </button>
                    <div class="cs-item-p">
                        {{ a3 | markdown | safe }}
                    </div>
                </li>
                <li class="cs-faq-item ">
                    <button class="cs-button">
                        <h3 class="cs-button-text">
                            {{ faq4 }}
                        </h3>
                    </button>
                    <div class="cs-item-p">
                        {{ a4 }}
                    </div>
                </li>
                <li class="cs-faq-item ">
                    <button class="cs-button">
                        <h3 class="cs-button-text">
                            {{ faq5 }}
                        </h3>
                    </button>
                    <div class="cs-item-p">
                        {{ a5 | markdown | safe }}
                    </div>
                </li>
                <li class="cs-faq-item ">
                    <button class="cs-button">
                        <h3 class="cs-button-text">
                            {{ faq6 }}
                        </h3>
                    </button>
                    <div class="cs-item-p">
                        {{ a6 | markdown | safe }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1821">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Why Choose RoofingServe for {{ service }}?</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/why-choose-roofing-serve.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/why-choose-roofing-serve.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/why-choose-roofing-serve.jpg" alt="roofingserve" width="562" height="568">
            </picture>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-house.svg" alt="icon" width="32" height="32">
                <div class="cs-item-wrapper">
                    <h3 class="cs-h3">
                        Calling & Entering Your ZIP Code Gets You the Right Roofer—Not a List of Maybes
                    </h3>
                    <p class="cs-item-text">
                        Most homeowner face decision paralysis: 47 Google results, conflicting reviews, and zero idea who's actually qualified. RoofingServe eliminates that nightmare. Enter your ZIP code after you call us and you're instantly matched with a licensed roofer who's already in your neighborhood—verified, available, and ready to talk. No sales pitch. No "we'll get back to you." Just immediate access to a professional who knows your area's building patterns, storm risks, and material requirements. While others waste days researching, you're already scheduled.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-layer.svg" alt="icon" width="32" height="32">
                <div class="cs-item-wrapper">
                    <h3 class="cs-h3">
                        Pre-Screened Companies—Because Your Home Deserves Better Than a Gamble
                    </h3>
                    <p class="cs-item-text">
                        Hiring the wrong roofing company costs thousands in repairs, delays, and stress. We've done the vetting so you don't have to. Every contractor in our network has verified licensing, active insurance, proven local experience in your area, and a track record of quality work. No fly-by-night operators. No unlicensed "handymen" promising cheap roof fixes. When you need roof repair, replacement, or installation, you're connected with professionals who've already earned their spot through standards most directories don't even check. That's the protection generic search results can't offer.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-hourglass.svg" alt="icon" width="32" height="32">
                <div class="cs-item-wrapper">
                    <h3 class="cs-h3">
                        Storm Damage? Leak Emergency? Talk to a specialist in Under 2 Minutes
                    </h3>
                    <p class="cs-item-text">
                        Roofing emergencies don't wait for business hours or callback schedules. When water's dripping into your living room or you've got shingles in your yard after a storm, you need help now. RoofingServe's rapid-response system connects you with available {{ service }} professionals who handle emergency repairs—not next week, but today. One call bridges the gap between panic and solution. While other services collect your information and "pass it along," we get you directly to a roofer who can assess damage and start protecting your home immediately.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-flower.svg" alt="icon" width="32" height="32">
                <div class="cs-item-wrapper">
                    <h3 class="cs-h3">
                        Local {{ service }} Knowledge That Corporate Chains Can't Match
                    </h3>
                    <p class="cs-item-text">
                        Big franchise roofers follow corporate playbooks written for generic suburbs—not the specific roofing needs of your area. Our network consists of local contractors who understand moisture issues, how summer heat affects different roofing materials, which shingle types hold up best against storms. This isn't roofing knowledge from a training manual. It's experience earned. When you're matched through RoofingServe, you're working with professionals who've already solved problems identical to yours, not learning on your dime.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                                                                                  

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!-- <section id="gallery-48">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Portfolio</span>
                <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
            </div>
            <div class="cs-image-group">
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture-1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" width="420" height="567">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" width="420" height="630">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" width="420" height="512">
                    </picture>
                </div>
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture-1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" width="420" height="492">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" width="420" height="517">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" width="420" height="629">
                    </picture>
                </div>
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture-1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new black window structure" width="420" height="625">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="kitchen rebovation" width="420" height="452">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="bathroom renovation" width="420" height="629">
                    </picture>
                </div>
            </div>
            <a href="/contact/" class="cs-button-solid">Get Started</a>
        </div>
    </section> -->

        <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="RPsbs-313">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group map-1834">
    <div class="cs-background">
        <iframe loading="lazy" src="{{ mapUrl }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- <div class="cs-container">
        <ul class="cs-card-group">
            {% if collections.service | length == 0 %}
            <p>More service coverage coming soon!</p>
            {% else %}  {%- for service in collections.service | reverse -%}
            <li class="cs-item">
                <a href="{{ service.url }}" class="cs-li-link cs-drop-link"
                  >{{ service.data.service }} &#8594;</a
                >
            </li>
            {%- endfor -%}{% endif %}
        </ul>
    </div> -->
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">
                    {{ h27 }}
                </h2>
                <div class="cs-text">
                    {{ p6 | markdown | safe }}
                </div>
                <div class="cs-quote">
                    <div class="cs-quote-text">
                        {{ p7 | markdown | safe }}
                    </div>
                    <div class="cs-quote-text">
          Residential Roofing Areas We Serve:
          <ul>
            {% if collections.location | length == 0 %}
            <p>Coming soon</p>
            {% else %} {%- for location in collections.location | reverse -%}
            <li>
              <a href="{{ location.url }}" class="cs-li-link cs-drop-link"
                >{{ location.data.location }}</a
              >{%- endfor -%}{% endif %}
            </li>
          </ul>
        </div>
                </div>
                <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
            </div>
        </div>
    </section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Stop Searching—Your Trusted {{ service }} Specialist Is One Call Away</h2>
            <p class="cs-text">
                Your roof won't fix itself, and waiting only makes problems worse. Call {{ client.phoneFormatted }} right now and speak with a qualified {{ service }} professional in under 2 minutes. No forms to fill out. No waiting for callbacks. No pressure—just honest answers about your roof and a clear path forward. Whether it's an emergency leak or a planned replacement, the right contractor is ready to help today. Make the call that protects your home.
            </p>
           <a href="tel: {{ client.phoneForTel }}" class="cs-button-solid">{{ client.phoneFormatted }}</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 640, height: 812 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 640, height: 812 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 640, height: 812 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2048, height: 750 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2048, height: 750 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2048, height: 750 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 555 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 555 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 555 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/residential-roofer.png" | resize({ width: 2500, height: 555 }) | jpeg %}" alt="trusted {{ service }}" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>
{% include 'components/featured-posts-reg.html' %}
{% endblock %}